body{
	font-family: 'IBM Plex Sans', sans-serif;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	background-color: #E6E6E4;
	color: #424242;
	transition: .5s ease;
}

.btn_home{
	position: absolute; 
	right: 40px; 
	top: 40px;
}

#homeTable {
	position: absolute; 
	margin: 15% 20% 15% 20%; 
	align-content: center
}

#btn_projects{
	width: 60%; 
	margin-left: -100px;
	transition: .5s ease;
}
#btn_contact{
	width: 60%; 
	margin-left: -100px;
	transition: .5s ease;
}

.title{
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 60px;
}
#btn_email{
	height: 60%;
}
#btn_github{
	height: 60%;
	margin-left: -50px;
}
#btn_resume{
	height: 60%;
	margin-left: -100px;
}

#sidebarCollapse{
	width:50px; 
	position:  fixed; 
	left: 0px; 
	top: 31%;
}
#title_projects{
	color: white;
	font-size: 2.5em;
}



#img_header{
	transition: .5s ease;
}



.btn_continue:hover{
	transition: .2s ease;
	        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.btn_color:hover{
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}





/* ---------------------------------------------------
    BREAKPOINTS
----------------------------------------------------- */
/*		Phone		*/
@media (max-width: 640px){
	#btn_home{
		top: 15px;
		right: 15px;
		width: 50px;
	}
	#homeTable{

		top:0px;
		margin: 0 20%;
	}
	#img_header{
		position: absolute;
		top: 80px;
		width: 200px;
	}
	.title{
		position: relative;
		top: 300px;
		text-align: center;
		font-size: 35px;
		margin-bottom: 20px;
	}
	#btn_projects{
		position: relative;
		height: auto;
		width: 245px;
		top: 250px;
		left: 75px;
	}
	#btn_contact{
		position: relative;
		height: auto;
		width: 200px;
		top: 260px;
    	left:75px;
	}
	#btn_email{
		position: relative;
		height: auto;
		width: 200px;
		margin-left: -20px;
	}
	#btn_github{
		position: relative;
		height: auto;
		width: 200px;
		margin-left: -20px;
	}
	#btn_resume{
		position: relative;
		height: auto;
		width: 200px;
		margin-left: -20px;
	}
	.btn_contacts{
		/* position: relative;
		height: 60%;*/
		margin-bottom: 10px;
	}
	#groupContactsBtns{
		position: relative;
		top: 250px;
	}

	/*		SIDEBAR CONTENT		*/
	#btn_sidebarHome{
		position: absolute;
		width: 50px;
		right: 0px;
	}
	#sidebarCollapse{
		width: 10%;
	}
	#dismiss{
		width: 25px;
		position: fixed;
	}
	#title_projects{
		position: relative;
		top: -50px;
		right: 25px;
		font-size: 28px;
	}
	.sidebar_project{
		display: none;
	}
	.projectHeader img{
		width: 225px;
		position: relative;
		top: -27px;
	}
	.projectHeader h3{
		position: relative;
		font-size: 100%;
		top: -47px;
		left: 50px;
	}
	.sidebar_recentProjects{
		margin-top: -135px;
	}
	.sidebar_projectsMobile{
		position: relative;
		padding: 45px;
	}
	.sidebar_mobileProject{
		/* z-index: 3;
		position: relative;
		right: 0px; */
		/* margin: 0px auto; */
	}
	.sidebar_mobileImg{
		background-size: contain;
		width: 225px;
		height: 125px;
	}
	
}

/*		Tablet		*/
@media (min-width: 640px){
	.btn_home{
		position: absolute; 
		right: 40px; 
		top: 40px;
		width: 50px;
	}
	
	#homeTable {
		position: relative; 
		margin: 0 15%; 
		align-content: center
	}
	#img_header{
		position: absolute;
		top: 80px;
		width: 200px;
	}
	#btn_projects{
		position: relative;
    	width: 250px;
		margin-left: 200px;
		margin-bottom: 15px;
		transition: .5s ease;
	}
	#btn_contact{
		width: 200px;
    	margin-left: 125px;
		transition: .5s ease;
	}
	
	.title{
		/* text-align: center; */
		font-size: 45px;
		margin-left: 200px;
		margin-top: 50px;
	}
	#btn_email{
		width: 200px;
		margin-bottom: 3px;
	}
	#btn_github{
		width: 200px;
		margin-left: -50px;
		margin-bottom: 3px;
	}
	#btn_resume{
		width: 200px;
		margin-left: -100px;
		margin-bottom: 3px;
	}
	
	#sidebarCollapse{
		width:50px; 
		position:  fixed; 
		left: 0px; 
		top: 31%;
	}
	#title_projects{
		position: relative;
		left: 0;
		color: white;
		font-size: 2.5em;
	}
	#groupContactsBtns{
		position: relative;
		margin-top: -25px;
		margin-left: 200px;
	}
	.sidebar_projectsMobile{
		display: none;
	}
}
@media (min-width: 768px){
	
}
@media (min-width: 1024px){
	#img_header{
		width: 40%;
		max-width: 320px;
	}
	.btn_home{
		position: absolute;
		right: 40px; 
		top: 0px;
		width:75px;
	}
	
	#homeTable {
		position: relative; 
		margin-top: 75px;
		align-content: center
	}
	#img_header{
		position: absolute;
		top: 80px;
	}
	#btn_projects{
		position: relative;
		margin-top: 40px;
		left: 125px;
		width: 475px; 
		transition: .5s ease;
	}
	#btn_contact{
		position: relative;
		left: 75px;
		width: 375px; 
		transition: .5s ease;
	}
	
	.title{
		position: relative;
		font-size: 70px;
		left: 175px;
	}
	#btn_email{
		width: 275px;
		height: 60%;
	}
	#btn_github{
		width: 275px;
		height: 60%;
		margin-left: -50px;
	}
	#btn_resume{
		width: 275px;
		height: 60%;
		margin-left: -100px;
	}
	
	#sidebarCollapse{
		width:50px; 
		position:  fixed; 
		left: 0px; 
		top: 31%;
	}
	#groupContactsBtns{
		position: relative;
		margin-top: 45px;
		margin-left: 300px;
	}
}
@media (min-width: 1200px){

}